- @curRow = 0
- @grayBG = false
- unless @todos.nil?
  - @todos.each do |todo|
    - if @grayBG
      - @grayBG = false
      - @style = "background-color: #F0F0F0;"
    - else
      - @grayBG = true
      - @style = "background-color: white;"
    - class_name = todo.venue.gsub(' ', '_')
    - if class_name == "N/D"
      - class_name = "N_D"
    %tr{:style => @style, :class => class_name, :id => todo.item_id.to_s}
      %td.tableListElement
        = todo.venue
      %td.tableListElement
        = todo.event
      %td.tableListElement
        = todo.event_date
      %td.tableListElement
        = todo.todo_item
      %td.tableListElement
        = todo.todo_list
      %td.tableListElement.due_date{:id => todo.item_id.to_s}
        = todo.due_date
      %td.tableListElement.asigned_to{:id => todo.project_id.to_s + "-" + todo.todo_id.to_s + "-" + todo.item_id.to_s}
        = todo.asigned_to
    - @curRow += 1